# @package _global_
core_lib:
  alembic:
    version_table: rating_alembic_version

  data:
    sqlalchemy:
      log_queries: false
      url:
        protocol: postgresql
        username: ${oc.env:POSTGRES_USER}
        password: ${oc.env:POSTGRES_PASSWORD}
        host: ${oc.env:POSTGRES_HOST}
        port: ${oc.env:POSTGRES_PORT}
        file: ${oc.env:POSTGRES_DB}
